extends ../layout/index

block contenido
    div.py-0
        h1.text-4xl.my-10.font-extrabold.text-center.text-blue BienesRaices.io
        h2.text-center.text-greendark.text-2xl.font-extrabold= pagina

    div.mt-8.mx-auto.max-w-md
        div.bg-white.py-8.px-4.shadow
            form(action="").space-y-5  
                
                div   
                    label.block.text-sm.uppercase.text-light.mb-3.font-bold(for="email") Email
                    input#email.w-full.px-3.py-2.border.border-light.rounded-md.placeholder-gray-400(placeholder="Tu email" type="text" name="email")
                div   
                    label.block.text-sm.uppercase.text-light.mb-3.font-bold(for="password") Password
                    input#password.w-full.px-3.py-2.border.border-light.rounded-md.placeholder-gray-400(placeholder="Tu password" type="text" name="password")

                div.flex.items-center.justify-between
                    a.text-light.text-xs(href="/auth/registro") ¿No tienes cuenta? Crea tu cuenta
                    a.text-light.text-xs(href="/auth/olvide-password") Olvide mi Password

                input(class="w-full bg-greendark hover:bg-blue text-white font-bold py-3 cursor-pointer" type="submit" value="Iniciar Sesion")