extends ../layout/index

block contenido
    div.py-0
        h1.text-4xl.my-6.font-extrabold.text-center.text-blue BienesRaices.io
        h2.text-center.text-greendark.text-2xl.font-extrabold= pagina


    div.mt-8.mx-auto.max-w-md
        div.bg-white.py-2.px-4.shadow
            form(method="POST" action="/auth/registro" noValidate).space-y-5  
                input(type="hidden" name="_csrf" value= csrfToken)
                div   
                    label.block.text-sm.uppercase.text-light.mb-3.font-bold(for="nombre") Tu nombre
                    input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu nombre" type="text" name="nombre" value= usuario ? usuario.nombre : '')
                div   
                    label.block.text-sm.uppercase.text-light.mb-3.font-bold(for="email") Email
                    input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu email" type="email" name="email" value= usuario ? usuario.email : '')
                div   
                    label.block.text-sm.uppercase.text-light.mb-3.font-bold(for="password") Password
                    input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu password" type="password" name="password")
                div   
                    label.block.text-sm.uppercase.text-light.mb-3.font-bold(for="repetir_password") Repetir password
                    input#repetir_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu password" type="password" name="repetir_password")

                div.flex.items-center.justify-between
                    a.text-light.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                    a.text-light.text-xs(href="/auth/olvide-password") Olvide mi Password

                if errores
                    div(class="max-w-md mx-auto my-10")
                    each error in errores
                        p(class="p-4 bg-red-100 border-l-4 border-red-500 text-red-700 border-opacity-50 uppercase mb-2 text-xs text-center font-bold")= error.msg

                input(class="w-full bg-greendark hover:bg-blue text-white font-bold py-3 cursor-pointer" type="submit" value="Crear Cuenta")