extends ../layout/admin

block styles
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")
    meta(name="csrf-token" content= csrfToken)

block contenido
    div.py-0
        h1.text-2xl.my-6.font-extrabold.text-center.text-blue BienesRaices.io
        h2.pb-6.text-center.text-greendark.text-2xl.font-extrabold= pagina

        
        div(class="bg-white shadow py-8 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")

            form(id="imagen" class="dropzone flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600")(method="POST" action=`/propiedades/agregar-imagen/${propiedad.id}`)
                input(type="hidden" name="_csrf" value=csrfToken)
                svg(class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
                    path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12")
            

            button(id="publicar" class="mt-5 w-full py-3 bg-greendark hover:bg-blue rounded text-white font-bold cursor-pointer" type="button") Publicar Propiedad

block scripts 
    script(src="/js/agregarImagen.js")
