div(class="relative h-screen w-full flex items-center justify-center text-center bg-cover bg-center" style="background-image:url(https://i.postimg.cc/J4p1nDvD/banner.png);")
    div(class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-75")

        main(class="px-4 sm:px-6 lg:px-8 z-10")
            div(class="max-w-3xl mx-auto text-center items-center")
                h2(class="pt-20 text-4xl tracking-tight leading-10 font-medium sm:text-5xl text-white sm:leading-none md:text-6xl")
                    span(class="text-greendark font-bold") Encuentra tu Lugar Perfecto para vivir
                        p(class="text-xl pt-4 font-bold text-greendark sm:mt-5 sm:text-md sm:max-w-xl sm:mx-auto md:mt-5") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae similique ut sit doloribus assumenda perferendis, non id! Cumque animi maxime totam placeat hic doloribus eos magnam fuga, dolorem reiciendis tempora.

                div(class="mt-5 pt-2 sm:mt-8 sm:flex justify-center")
                    a(href="#" class="px-4 py-2 text-white font-bold text-lg bg-blue rounded hover:bg-greendark active:shadow-lg mouse shadow transition ease-in duration-200 focus:outline-none") Empieza Ahora

