header.bg-angel.p-4.shadow-md
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/") 
            h1.text-xl.text-blue.font-extrabold.text-center BienesRaices.io

        nav(class="my-3 text-sm text-light md:flex md:items-center md:gap-6 font-bold hidden")
            a(href="/auth/registro" class="hover:text-greendark") Crear Cuenta
            a(href="/auth/login" class="bg-greendark hover:bg-blue text-white rounded px-4 py-2") Iniciar Sesión

div(class="bg-greendark py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex gap-4 items-center")
            a(href="/categorias/1" class="text-sm font-bold text-white uppercase") Casas
            a(href="/categorias/2" class="text-sm font-bold text-white uppercase") Apartamentos 
            a(href="/categorias/3" class="text-sm font-bold text-white uppercase") Bodegas 
            a(href="/categorias/4" class="text-sm font-bold text-white uppercase") Terrenos
            a(href="/categorias/5" class="text-sm font-bold text-white uppercase") Cabañas
        

        form(action="/buscador" method="POST" class="flex gap-3 items-center")
            input(type="hidden" name="_csrf" value= csrfToken)
            label(for="termino" class="text-sm uppercase font-bold text-angel") Búsqueda
            input(type="text" id="termino" name="termino" placeholder="Buscar Propiedades" class="text-sm p-2 rounded-lg shadow") 

            input(type="submit" value="Buscar" class="bg-light rounded-lg text-angel uppercase font-bold p-2 hover:bg-blue cursor-pointer text-sm")