header.bg-angel.p-4.shadow-md
            .container.mx-auto.flex.justify-between.items-center
                a(href="/") 
                    h1.text-xl.text-blue.font-extrabold.text-center BienesRaices.io

                nav(class="my-3 text-sm text-light md:flex md:items-center md:gap-6 font-bold hidden")
                    a(href="/mis-propiedades" class="hover:text-greendark") Mis propiedades
                    a(href="" class="hover:text-greendark") Perfil
                    a(href="" class="bg-greendark hover:bg-blue text-white rounded px-4 py-2") Cerrar Sesión